{% extends "::product.html.twig" %}

{% block title %}AppBundle:Product:detail{% endblock %}

{% block content %}

<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ activity.title }}
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                {%  if  activity.photos|length > 0 %}
                <img class="img-responsive" src="{{ asset('img/activity/'~ activity.photos[0].name) }}" alt="" style="width: 750px; height: 500px">
                {% else %}
                    <img class="img-responsive" src="http://placehold.it/750x500/d3e4f3/428bca?text=photo+en+vacances+!" />
                {% endif %}
            </div>

            <div class="col-md-4">
                <h3> Description</h3>
                <p>{{ activity.description }}</p>
                <h3> Adresse activité </h3> <!-- API google maps  -->
                <div class="">
                        <iframe
                            width="350"
                            height="210"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYG6Ljv2jkHnH8TdrMn7hle8d6ARaZFKM
                            &q={{ activity.address }}, {{ activity.city }}, {{ activity.zip }}" allowfullscreen>
                        </iframe>
                {% if note %}    
                    <h3><em>Note des utilisateurs </em> </h3>   
                {% for i in 1..note %}
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>    
                {% endfor %}         
                {% endif %} 
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {%  if  activity.photos|length > 0 %}
                    {% for image in activity.photos %}
                        <img class="img-responsive" src="{{ asset('img/activity/'~ image.name) }}" alt="" style="width: 150px; height: 100px; float: left; margin: 10px 0 0 10px;">
                    {% endfor %}
                {% endif %}
                
            </div>    
        </div>    
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-info">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> <em>Vous pouvez pratiquer cette activité : </em>
                </h4>    
                <!-- activity type  -->
                {% if activity.participantSolo %}
                    <img src="../img/solo.png" width="75"/>
                    <em>En Solo</em>
                {% endif %}
                {% if activity.participantDuo %}
                    <span>
                        <img src="../img/couple.png" width="75"/>
                         <em>En Duo</em>
                    </span>     
                {% endif %}
                {% if activity.participantFamily %}
                    <span>
                        <img src="../img/family.png" width="75" />
                        <em>En Famille</em>
                    </span>    
                {% endif %}
                {% if activity.participantFriend %}
                    <span>
                      <img src="../img/friend.png" width="75"/>
                      <em>Entre Amis</em>
                    </span>  
                {% endif %}
            <!-- Tab -->
            <div id="exTab3" class="">	
                <ul  class="nav nav-pills">
                    <li class="active">
                        <a  href="#1b" data-toggle="tab"> Disponibilité  </a>
                    </li>
                    <li>
                        <a href="#2b" data-toggle="tab">Avis et notes</a>
                    </li>
 
		</ul>

		<div class="tab-content clearfix">
                    <div class="tab-pane active" id="1b">
                <table class="table">
                    <tr>
                        <th>Prix </th>
                        <th>Stock</th>
                        <th>Date</th>
                        <th>Qté</th>
                        <th>Options</th>
                        <th></th>
                    </tr>   
                {%  for product in activity.products  %}    
                    {%  for option in product.productAttributes  %}

                    <tr>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.date|date('Y-m-d') }}</td>
                    <form action="{{ path('app_cart_add') }}" method="post"> 
                        <td>
                            <!-- image  -->
                           {% if  activity.photos|length > 0 %}
                                {% for image in activity.photos %}
                                    <input type="hidden" name="product_image" value ="{{ asset('img/activity/'~ activity.photos[0].name) }}" />
                                {% endfor %}
                                
                            {% endif %}
                            <input type="hidden" name="id_product" value="{{ product.id }}"/>
                            <input type="hidden" name="id_activity" value="{{ activity.id }}"/>
                            <input type="hidden" name="activity_title" value="{{ activity.title }}"/>
                            <input type="hidden" name="activity_description" value="{{ activity.description }}"/>
                            <input type="hidden" name="product_price" value="{{ product.price }}"/>
                            <input type="Number" name="qty" min="1"  value="1" size="5" class="form-control" />
                        </td>
                        <td>
                            <select name="product_option" class="form-control">
                                <option value=""></option>
                                <option value="{{ option.id }} - {{ option.name }} - {{ option.value }} - {{ option.extraFee }} € ">{{ option.name }} - {{ option.value }} - + {{ option.extraFee }} € </option>
                            </select>
                        </td>
                        <td><input type="submit" value="Reserver" class="btn btn-success"></td>
                     </form>
                    </tr>
    
                    {% endfor %}
                {% endfor %}
                </table>  
                    </div>
                    
                    <div class="tab-pane" id="2b">
                    <!-- avis recents  -->
                            <div class="col-sm-8">
                                <div class="" >
                                    <i class="fa fa-commenting fa-lg" aria-hidden="true"></i> <h3>  Nombre de commentaires :{{ activity.comments|length }}</h3>
                                </div>
                                <div class="panel panel-white post panel-shadow">
                                    
                                    {% for comment in activity.comments %}
                                    <div class="post-heading">
                                       
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#"><b>{{  comment.user  }}</b></a>
                                                a ecrit.
                                            </div>
                                                <h6 class="text-muted time">{{ comment.date|date('d-m-Y') }}</h6>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>{{ comment.comment }}</p>
                                        <p>Note : 
                                        {% for i in 1..comment.note %}
                                          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                        {% endfor %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                    <!-- Fin avis recents  -->
                    <div class="col-sm-8">
                        {% if app.user %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        {% else %}
                            <p>Veuillez vous connecter pour poster un commentaire ! </p>
                        {% endif %}
                    </div>    
                    </div>
                </div>
                
                
        <!-- End Tab  -->
                
                  

            </div>
        </div>
        </div>

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Activités similaires</h3>
            </div>
            
            {% for activity in activities %}
                
            <div class="col-sm-3 col-xs-6">
                <a href="{{ path('app_product_detail', {"id": activity.id })  }}">
                    <h4 class="page-header">{{ activity.title }}</h4>
                </a>
                
                 {%  if  activity.photos|length > 0 %}
                    <a href="{{ path('app_product_detail', {"id": activity.id })  }}">
                        <img class="img-responsive portfolio-item" src="{{ asset('img/activity/'~ activity.photos[0].name) }}" alt="" style="width: 500px; height: 300px;">
                    </a>
                  {% else %}
                    <img class="img-responsive" src="http://placehold.it/500x300/d3e4f3/428bca?text=photo+en+vacances+!" />
                 {% endif %}
            </div>

            {% endfor %}

 

        </div>
        <!-- /.row -->
{% endblock %}
