{% extends "::product.html.twig" %}

{% block title %}AppBundle:Product:detail{% endblock %}

{% block content %}
<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ activity.title }}
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3> Description</h3>
                <p>{{ activity.description }}</p>
                <h3> Details activité </h3>
                <ul>
                    <li>{{ activity.address }}</li>
                    <li>{{ activity.zip }}</li>
                    <li> {{ activity.city }}</li>
                   
                </ul>
                <h3> Disponibilité  </h3>
                {%  for product in activity.products  %}
                <table class="table">
                    <tr>
                        <th>Prix </th>
                        <th>Stock</th>
                        <th>Date</th>
                        <th>Qté</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.date|date('Y-m-d') }}</td>
                    <form action="{{ path('app_cart_add') }}" method="post"> 
                        <td>
                            <input type="hidden" name="id_product" value="{{ product.id }}"/>
                            <input type="hidden" name="id_activity" value="{{ activity.id }}"/>
                            <input type="hidden" name="activity_title" value="{{ activity.title }}"/>
                            <input type="hidden" name="activity_description" value="{{ activity.description }}"/>
                            <input type="hidden" name="product_price" value="{{ product.price }}"/>
                            <input type="Number" name="qty" min="1"  value="1" size="5" class="form-control" />
                        </td>
                        <td><input type="submit" value="Reserver" class="btn btn-success"></td>
                     </form>
                    </tr>
 
                </table>        
                {% endfor %}
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Activités similaire</h3>
            </div>
            
            {% for activity in activities %}
                
            <div class="col-sm-3 col-xs-6">
                <a href="{{ path('app_product_detail', {"id": activity.id })  }}">
                    <h4 class="page-header">{{ activity.title }}</h4>
                </a>
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            {% endfor %}

 

        </div>
        <!-- /.row -->
{% endblock %}
