<h2>Inscription :</h2>
{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

   <div class="form-group">
    <label for="type">Vous êtes ? : </label>
    {{ form_widget(form.roles) }}
  </div>

  <div class="form-group">
    <label for="gender">Civilité : </label>
    {{ form_widget(form.gender) }}
  </div>
  
  <div class="form-group">
    <label for="email">Email : </label>
    {{ form_widget(form.email) }}
  </div>
  
  <div class="form-group">
    <label for="username">Nom de connexion : </label>
    {{ form_widget(form.username) }}
  </div>
 
  <div class="form-group">
    <label for="password"></label>
   {{ form_widget(form.plainPassword) }}
  </div>
  
  <div class="form-group">
    <label for="firstname">Nom : </label>
   {{ form_widget(form.firstname) }}
  </div>
  
  <div class="form-group">
    <label for="lastname">Prenom : </label>
   {{ form_widget(form.lastname) }}
  </div>
  
  <div class="form-group">
    <label for="birthdate">Date de naissance : </label>
    {{ form_widget(form.birthdate) }}
  </div>

  <div class="form-group">
    <label for="company">Société : </label>
    {{ form_widget(form.company) }}
  </div>
  
  <div class="form-group">
    <label for="commercialRegistry">Siret : </label>
    {{ form_widget(form.commercialRegistry) }}
  </div>
  
  <div class="form-group">
    <label for="address">Adresse : </label>
    {{ form_widget(form.address) }}
  </div>
  
  <div class="form-group">
    <label for="city">Ville : </label>
    {{ form_widget(form.city) }}
  </div>
  
  <div class="form-group">
    <label for="zip">Code postal : </label>
    {{ form_widget(form.zip) }}
  </div>
  
  <div class="form-group">
    <label for="avatar"> Avatar : </label>
    {{ form_widget(form.photo) }}
  </div>
 
    
    
    <div>
        <input  class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}