{% extends 'layout.html.twig' %}

{% block title %}My activities{% endblock %}

{% block content %}
<div class="container">
		
	<h1>Activity details</h1>
	{#{{ dump(activity) }}#}
	<hr>
	
	<a href="{{ path("app_partner_activity_list") }}">Back to the activity list</a>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{ activity.title }}</h3>
		</div>
		<div class="panel-body">
			<div>
				<div class="col-md-6">
					<h3>Category : </h3>
					<p>{{ activity.category.name }}</p>
					<h3>Could be practiced in :</h3>
					<ul>
					{% if activity.participantSolo %}
						<li>Solo</li>
					{% endif %}

					{% if activity.participantDuo %}
						<li>Duo</li>
					{% endif %}

					{% if activity.participantFamily %}
						<li>Family</li>
					{% endif %}

					{% if activity.participantFriend %}
						<li>Friend</li>
					{% endif %}
					</ul>
				</div>
				<div class="col-md-6">
					<h3>Description</h3>
					<p>{{ activity.description }}</p>

					<h3>Company and Address</h3>
					<p><strong>{{ activity.partner.company }}</strong></p>
					<p>{{ activity.address }}
					{{ activity.zip }}
					{{ activity.city }}<br>
					<span class="glyphicon glyphicon-envelope"></span> {{ activity.partner.email }}</p>
				</div>
			</div>
		</div>
	</div>
				
	<h2>Activity pics</h2>
	
	<div class="well">
	{% for photo in  activity.photos %}
		<img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="activity {{ activity.title }}" />
{#		<img src="C:/wamp64/www/blueSheep/blueSheep/app/../web/img/activity/587228aa57d01_photo2.jpg" class="img-thumbnail" alt="activity {{ activity.title }}" />#}
	{% endfor %}
	</div>
	
	<h2>Comments</h2>
	
	<div class="well">
		Average note : {{ average_note?? 'no comment yet' }}
	</div>
	
		{#{{ dump(activity.comments) }}#}
	{% for comment in activity.comments %}
		
		{#{{ dump(comment) }}#}
		{#{ comment.user }#}
		
		<div class="well">
			<p><em>from {#{ comment.user.username }#}, the {{ comment.date|date("m/d/Y") }}</em></p>
			<p>{{ comment.comment }}</p>
			<p>Note : 
				{% for i in 1 .. 5 %}
					{% if i <= comment.note  %}
						<span class="glyphicon glyphicon-star"></span>
					{% else %}
						<span class="glyphicon glyphicon-star-empty"></span>
					{% endif %}
				{% endfor %}
			</p>
		</div>
	{% endfor %}
	
</div>
{% endblock %}